.full-width-input {
  width: 100%;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
}

mat-card {
  padding-left: 50px;
  padding-right: 50px;
  width: 300px;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  display: block;
  padding-bottom: 20px;
}

.mat-card-header-text {
  width: 100%;
}

.header {
  text-align: center;
  width: 100%;
  padding-bottom: 45px;
}

.options {
  padding-bottom: 80px;
}

.btnValidate {
  width: 150px
}

.txtLogin, .txtLogin a {
  color: #FF0000;
  font-size: 12px;
  text-decoration: none;
}

.txtSignup, .txtSignup a {
  font-size: 12px;
  text-decoration: none;
  color: inherit;
}

.divider {
  margin-left: 50px;
  margin-right: 50px;
}
